* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    background-color: black;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
  }
  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 0px;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .naoSelecionavel {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}
i {
    cursor: pointer;
    opacity: 0.7;
}
i:hover {
    opacity: 1;
    transition: opacity 0.2s;
    
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
a {
    text-decoration: none;
    color: #F1F1F1;
}
a:hover{
    text-decoration: underline; 
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: none;
    transition: opacity 1s;
  }
  
  #text{
    position: absolute;
	top: 35%;
    left: 5%;
    font-size: 50px;
    color: white;
  }
  .chrome{
    height: 100%;
    position: relative;
    bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center

  }
 .chrome input {
    background: white;
    border-radius: 8px;
    height: 7px;
    width: 97%;
    outline: none; 
    transition: background 450ms ease-in;
    
    -webkit-appearance: none;
  }
  
  input::-moz-range-thumb{
    background: red;        
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
  }

  input::-webkit-slider-thumb {
    background-color: red;        
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-appearance: none;
  }


